.carousel-container {
  position: relative;
  height: 256px;
}

.carousel-container.second {
  height: 256px;
  overflow: hidden;
}

.carousel-container.third {
  height: 648px;

}

.carousel-container.fourth {
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.carousel-container input[type="radio"] {
  display: none;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  overflow: hidden;

}


.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* mantiene proporción */
  object-position: center;
  /* centra la parte visible */

}

.info-container.visible {
  opacity: 1;
}

.slide.visible {
  opacity: 1;
}



.navegacion {
  display: flex;
  position: absolute;
  z-index: 10;
  gap: 12px;
  bottom: 16px;
  left: calc(50% - 24px);
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.404) 93.92%);
}

.info-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: 51px 53px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 1s ease;
}

.info-container.third {
  display: flex;
  justify-content: center;
  align-items: center;
}


.info-contet {
  top: 51px;
  left: 53px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;

}

.info-contet.second {
  align-items: flex-end;
  margin-left: auto;
}

.info-contet.third {

  width: 942px;
  align-items: center;
}

.info-contet.third p {
  text-align: center;
}


.info-contet.second h2,
.info-contet.second p {
  text-align: right;
}


.info-contet h2 {
  color: var(--White, #FFF);

  /* Display xl/Semibold */
  font-family: var(--montser-font), 'montserrat', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
  /* 120% */
  letter-spacing: -1.2px;
  margin: 0px;
}

.info-contet p {
  color: var(--White, #FFF);

  /* Text xl/Medium */
  font-family: var(--montser-font), 'montserrat', sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  /* 150% */
  margin: 0px;
}



.navegacion label {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #717680;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.navegacion label:hover {
  background-color: #bdc0c6 !important;
}