.main {
  display: flex;
  padding-inline: 32px;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;

}



.wrapper {
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: 10;
  box-sizing: border-box;
  padding-inline: 10px;
}

.carousel {
  display: flex;
  width: 635px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 12px;
  border: 1px solid var(--Gray-200, #E9EAEB);
  background: var(--White, #FFF);

  /* Shadow/sm */
  box-shadow: 0 1px 3px 0 rgba(10, 13, 18, 0.10), 0 1px 2px 0 rgba(10, 13, 18, 0.06);

}

.car-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  width: 100%;
  box-sizing: border-box;
}

.car-header h2 {
  color: var(--Gray-900, #181D27);

  /* Text lg/Medium */
  font-family: var(--montser-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}

.footer {
  display: flex;
  justify-content: center;
  gap: 2px;
  padding: 12px 24px;
  box-sizing: border-box;
  width: 100%;
}

.select {
  display: flex;
  height: 40px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

.select:hover {
  cursor: pointer;
}

.select span {
  color: var(--Gray-500, #717680);
  text-align: center;

  /* Text sm/Medium */
  font-family: var(--montser-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.select.active {
  border-radius: 8px;
  background: var(--Brand-50, #F0FEFF);
}

.select.active span {
  color: #178C94;
}