<div class="main">
  @if (loading) {
    <div class="loader-wrapper">
      <app-box-loader></app-box-loader>
    </div>
  }


  @for (car of carousels; track $index) {
    <div class="carousel">
      <header class="car-header">
        <h2>{{car.name}}</h2>
        <button class="button-chips">
          <img src="edit" alt="">
          <span>Editar</span>
        </button>
      </header>
      <app-corousel style="width: 100%;" [data]="{banners: car.banners, carousel: 0}"></app-corousel>
    </div>
  }


</div>
