.drag-n-drop-cont {
  display: flex;
  position: relative;
  padding: 16px 24px;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-200, #E9EAEB);
  background: var(--White, #FFF);
  box-sizing: border-box;
}

.progress-bar {
  position: absolute;
  bottom: 0px;
  width: 0%;
  left: 0px;
  height: 4px;
  background-color: var(--Brand-700, #007981);
  border-radius: 0 0 8px 8px;
  transition: width 0.3s ease;
}

.dnd-icon {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  box-sizing: border-box;
  border: 6px solid var(--Gray-50, #FAFAFA);
  background: var(--Gray-100, #F5F5F5);
}

.dnd-txt p {
  color: var(--Gray-600, #535862);

  /* Text sm/Regular */
  font-family: var(--montser-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  margin: 0px;
}

.dnd-txt p span {
  color: var(--Brand-700, #007981);
  font-weight: 600;
}