<div class="drag-n-drop-cont" (click)="onFilesSelected($event)" (dragleave)="onDragLeave($event)"
  (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <div class="dnd-icon">
    <img src="upload-cloud.svg" alt="">
  </div>
  <input type="file" #fileInput style="display: none;" (change)="onFileChange($event)" [accept]="accept" id="">
  <div class="dnd-txt">
    <p><span>Haga clic para cargar</span> o arrastrar y soltar</p>
    <p>{{label}}</p>
  </div>
  <div class="progress-bar" [style.width.%]="progress">
  </div>
</div>