.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 32px;
}

h1 {
  color: var(--Gray-900, #181D27);

  /* Display sm/Semibold */
  font-family: var(--montser-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin: 0px;
  /* 126.667% */
}


.form-text {
  display: flex;
  gap: 32px;
  position: relative;
  margin-bottom: 20px;
}

.form-text label {
  width: 360px;
  color: var(--Gray-700, #414651);

  /* Text sm/Semibold */
  font-family: var(--montser-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
}

.input-base {
  width: 512px;
  box-sizing: border-box;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 32px;
}

textarea {
  field-sizing: content;
  resize: none;
}

.line {
  position: absolute;
  width: 100%;
  bottom: -20px;
  height: 1px;
  align-self: stretch;
  background: var(--Gray-200, #E9EAEB);
}

.count {
  color: var(--Gray-600, #535862);

  /* Text sm/Regular */
  font-family: var(--montser-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.input-base label,
.input-base span {
  display: flex;
  flex: 1;
  color: var(--Gray-500, #717680);

  /* Text md/Regular */
  font-family: var(--montser-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.disc-btn {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.disc-btn :hover {
  cursor: pointer;
}

.discount {
  display: flex;
  width: 170px;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #D5D7DA);
  background: var(--White, #FFF);
  overflow: hidden;
}

.discount-txt {
  display: flex;
  padding: 10px;
  flex: 1;
  align-items: center;
  gap: 10px;
  background: var(--Gray-50, #FAFAFA);
  border-inline: 1px solid #D5D7DA;

}

.discount-txt span {
  color: var(--Gray-800, #252B37);

  /* Text sm/Medium */
  font-family: var(--montser-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  background-color: #FAFAFA;
  text-align: right;
  width: 40px;
}

input[type=date] {

  opacity: 0;
  position: absolute;
  pointer-events: none;


}

.input-base {
  position: relative;
}

.image {
  position: relative;
  height: 40px;
  aspect-ratio: 1;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: center;
}

.dialog.products {
  overflow: auto;
  max-height: 600px;
}

.input-base.propierty {
  border-color: #279EA8;
}

.finish-data {
  display: flex;
  gap: 16px;
  align-items: center;
  flex: 1;
}

.finish-data p {
  margin: 0px;
  color: var(--Gray-700, #414651);

  /* Text sm/Medium */
  font-family: var(--montser-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.avatar {
  display: flex;
  width: 28px;
  height: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  height: 100%;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-footer {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.delete {
  cursor: pointer;
}

.data {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.discount {
  background-color: #FEF3F2;
  color: #B42318;
  font-family: var(--montser-font);
  border: initial;
  display: flex;
  width: fit-content;
  padding-inline: 8px;
  justify-content: center;
}

.dialog-item {
  align-items: start;
  border-top: 0.5px solid lightgray;
}

.dialog-item:hover {
  cursor: pointer;
}

.image-container {
  display: flex;
  width: 512px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.banner-prev {
  display: flex;
  width: 512px;
  height: 199.111px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.556px;
  overflow: hidden;
}

.banner-prev img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}