.main {
  display: flex;
  padding: 24px 24px 64px 48px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  gap: 40px;
  border-radius: var(--Corner-Small, 8px);
  background: var(--Gray-50, #FAFAFA);
  border: 1px solid lightgray;
  box-shadow: 0 12px 16px -4px rgba(10, 13, 18, 0.08), 0 4px 6px -2px rgba(10, 13, 18, 0.03);
}

.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.main-head h2 {
  color: var(--Gray-700, #414651);
  font-family: var(--montser-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 100% */
}

.main-head p {
  color: var(--Gray-600, #535862);

  /* Text md/Regular */
  font-family: var(--montser-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.desc-section {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.desc-section-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.info-object {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1 0 0;
}

.info-object.name {
  flex: 0;
  min-width: 400px;
}

.info-object h4 {
  color: var(--Gray-700, #414651);

  /* Text lg/Semibold */
  font-family: var(--montser-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.info-object p {
  color: var(--Gray-700, #414651);

  /* Text lg/Regular */
  font-family: var(--montser-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}