.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    background-color: #007981;
    box-sizing: border-box;

}

.navigation {
    width: 81px;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    gap: 24px;
}

.nav-header {
    display: flex;
    justify-content: center;
    padding-inline: 24px 20px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    padding-inline: 16px;
    gap: 8px;
}

.nav-item {
    display: flex;
    padding: 12px;
    cursor: pointer;
}

.route {
    display: flex;
    flex-direction: column;
    padding-block: 32px 48px;
    border-radius: 40px 0px 0px 0px;
    background-color: white;
    margin-top: 12px;
    flex: 1;
    box-sizing: border-box;
}

.nav-icon {
    stroke-width: 2px;
    stroke: var(--Brand-300, #98CDD2);
}

.nav-items-container {
    position: fixed;
    padding-top: 32px;
    width: 81px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    top: 0px;
}

.nav-item.active {
    border-radius: 6px;
    background: var(--Brand-600, #178C94);
}