.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    background-color: #007981;
    box-sizing: border-box;

}

.navigation {
    width: 81px;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    gap: 24px;
}

.nav-header {
    display: flex;
    justify-content: center;
    padding-inline: 24px 20px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    padding-inline: 16px;
    gap: 8px;
}

.nav-item {
    display: flex;
    padding: 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    box-sizing: border-box;
}


.route {
    display: flex;
    flex-direction: column;
    padding-block: 32px 48px;
    border-radius: 40px 0px 0px 0px;
    background-color: #FAFAFA;
    margin-top: 12px;
    flex: 1;
    box-sizing: border-box;
    overflow: auto;
}

.nav-icon {

    width: 24px;
    height: 24px;
    background-color: #98CDD2;

    -webkit-mask-image: url('/luminarias.svg');
    mask-image: url('/luminarias.svg');

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-position: center;
    mask-position: center;
}

.nav-item.promotions .nav-icon {
    -webkit-mask-image: url('/tag.svg');
    mask-image: url('/tag.svg');
}

.nav-item.active .nav-icon {
    background-color: #FFFFFF;
}



.nav-item.orders .nav-icon {
    -webkit-mask-image: url('/orders.svg');
    mask-image: url('/orders.svg');
}

.nav-item.users .nav-icon {
    -webkit-mask-image: url('/users.svg');
    mask-image: url('/users.svg');
}

.nav-item.blogs .nav-icon {
    -webkit-mask-image: url('/users.svg');
    mask-image: url('/layout.svg');
}




.nav-items-container {
    position: fixed;
    padding-top: 32px;
    width: 81px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    top: 0px;
}

.nav-item.active {
    border-radius: 6px;
    background: var(--Brand-600, #178C94);
}