.container {
    display: flex;
    gap: 12px;
    padding: 12px;
    width: 307px;
    align-items: center;
    justify-content: start;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03);
    transition: opacity 100ms ease-out,
        transform 100ms ease-out;
}

.content span {
    font-family: var(--montser-font);
    line-height: 18px;
    color: #D92D20;
    font-weight: 600;
    font-size: 12px;
}

.content p {
    font-family: var(--montser-font);
    line-height: 18px;
    color: #535862;
    font-weight: 400;
    font-size: 11px;
}

.container.animate-exit {
    transform: translateX(40px);
    opacity: 0;

}

.animate {
    animation: enter 500ms ease forwards;
}

.icon {
    display: flex;
    border-radius: 50%;
    width: auto;
    height: auto;
    border: 5.33px solid #FEF3F2;
    padding: 5px;
    box-sizing: border-box;
    background-color: #FEE4E2;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes exit {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}