<div class="orders-main">

    @if (loading) {
    <div class="loader-wrapper">
        <app-box-loader message="Cargando pedidos..."></app-box-loader>
    </div>
    }


    @if(openOrder){
    <div class="ord-detail">
        <app-order-details [order]="openOrder" (close)="openOrder = undefined"></app-order-details>
    </div>
    }
    <header class="ord-header">
        <h1>Productos</h1>
        <div class="ord-actions">
            <button class="button-chips">
                <img src="upload-cloud.svg" alt="">
                <label>
                    Importar
                </label>
            </button>

        </div>
    </header>

    <div class="filters">
        @for (fil of filters; track $index) {
        <div class="button-chips">
            <label>
                {{fil}}
            </label>
            <img src="x.svg" alt="" (click)="onDeleteFilter(fil)">
        </div>
        }

        <div class="filters-dorp-menu">
            <button class="button-chips" (click)="filterMenu = !filterMenu">
                <img src="Filters lines.svg" alt="">
                <label>Filtros</label>
            </button>

            @if(filterMenu){
            <div class="dropdown-content">
                @for (filter of ['Más recientes', 'Antiguos', 'Realizado', 'Pendiente', 'Cancelado']; track $index) {
                <div class="dropdown-item"
                    (click)="['Realizado', 'Pendiente', 'Cancelado'].includes(filter) ? onStateFilter(filter) : onOrderBy(filter == 'Más recientes'? 2 : 1)">
                    <p>{{filter}}</p>
                </div>
                }
            </div>
            }
        </div>

        <div class="spacing" style="flex: 1;"></div>
        <div class="input-base">
            <img src="search.svg" alt="" (click)="onSearch()">
            <input type="text" placeholder="Buscar" (keyup.enter)="onSearch()" #search />
        </div>

    </div>

    <div class="ord-container">
        <header class="order-list-header">
            <h2>Pedidos</h2>
            <div class="count">
                <p>{{count}} pedidos</p>
            </div>
        </header>

        <div class="head-bar">
            @for (item of ['Nº pedido', 'Fecha', 'Total', 'Tipo de entrega', 'Estado']; track
            $index) {
            <div [className]="`column ${item === '' ? 'action' : item.toLowerCase()}`">

                <div [className]="`head-bar-item ${item === '' ? 'action' : item.toLowerCase()}`">
                    <p>{{item}}</p>
                </div>
                @for (ord of orders; track $index) {
                <div [className]="`product-item ${item === '' ? 'action' : item.toLowerCase()}`"
                    (click)="onOpenOrder(ord)">

                    @if (item === 'Nº pedido') {
                    <p>{{ord.id}}</p>
                    }
                    @if (item === 'Fecha') {
                    <p>{{getDate(ord)}}</p>
                    }
                    @if (item === 'Total') {
                    <p>{{ord.price + ord.delPrice | currency}}</p>
                    }
                    @if (item === 'Tipo de entrega') {
                    <p>{{ord.delivery? 'A domicilio': 'Retiro en tienda'}}</p>
                    }
                    @if (item === 'Estado') {
                    <div class="input-txt"
                        [ngClass]="{'pending': states.pending == ord.state, 'completed': states.completed == ord.state, 'canceled': states.canceled == ord.state}">
                        <img [src]=" states.completed==ord.state ? 'check.svg': states.canceled == ord.state? 'x-red.svg': 'clock.svg'"
                            alt="">
                        <span>{{ord.state}}</span>
                    </div>
                    }
                </div>
                }


            </div>
            }
        </div>
    </div>

</div>