/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --montser-font: 'Montserrat', sans-serif;
}


body {
    margin: 0;
}

p,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label {
    margin: 0px;
}

.button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid var(--Brand-600, #178C94);
    background-color: #178C94;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    transition: background-color 0.5s ease;
    gap: 8px;
}

.input-base {
    display: flex;
    padding: 10px 14px;
    align-items: center;

    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    line-height: 24px;
    margin: 0px;
    gap: 8px;

}

.button-base label {
    color: var(--White, #FFF);
    /* Text md/Semibold */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.button-base:hover {
    border: 1px solid var(--Brand-700, #007981);
    background: var(--Brand-700, #007981);
    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    cursor: pointer;
}

.button-base label:hover {
    cursor: pointer;
}

.button-base:active {

    border: 1px solid var(--Brand-600, #178C94);
    background: var(--Brand-600, #178C94);
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05), 0 0 0 4px #F4EBFF;
}

.button-base:disabled {
    border: 1px solid var(--Brand-200, #C7E5E7);
    background: var(--Brand-200, #C7E5E7);
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
}







.button-chips {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);
    /* Shadow/xs */
    gap: 8px;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    transition: background 0.5s ease;
    cursor: pointer;
}

.button-chips label,
.button-chips span {
    color: var(--Gray-700, #414651);

    /* Text sm/Semibold */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    margin: 0px;
    cursor: pointer;
}

.button-chips:active,
.button-chips.active {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Brand-50, #F0FEFF);
}



.button-chips:active label,
.button-chips.active label,
.button-chips:active span,
.button-chips.active span {
    color: var(--Brand-700, #007981);
}




@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




@keyframes exit {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(100%);
    }
}

@keyframes exitTeam {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


::view-transition-old(home) {
    animation: exit 1s ease forwards;
}

::view-transition-new(home) {
    animation: enter 0.5s ease forwards;
}

.social-button {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
}

.social-buttons label {
    color: var(--Gray-700, #414651);

    /* Text md/Semibold */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

.input-content {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
}

input,
textarea {
    border: none;
    width: 100%;
    height: 100%;

    color: var(--Gray-500, #717680);

    /* Text md/Regular */
    font-family: var(--montser-font, sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */


}


input:focus,
textarea:focus {
    border: none;
    outline: none;
}

.input-container label {
    color: var(--Gray-700, #414651);

    /* Text sm/Medium */
    font-family: var(--montser-font, sans-serif);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    margin-left: 50%;
    margin-top: 25%;
    width: 50px;
    height: 50px;
    border: 5px solid wheat;
    /* Light gray border */
    border-radius: 50%;
    border-top-color: #178C94;

    animation: spin 2s linear infinite;
}

.user-button {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: lightgray;
}

.button-light {
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Brand-50, #F0FEFF);
    background: var(--Brand-50, #F0FEFF);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
}

.button-light label {
    color: var(--Brand-700, #007981);

    /* Text sm/Semibold */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

.loader-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100svh;
    width: 100%;
    z-index: 9999;
    background-color: rgba(30, 30, 30, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}