<div class="products-main">

    @if(loading){
    <div class="loader-wrapper">
        <app-box-loader message="Cargando productos..."></app-box-loader>
    </div>
    }

    @if(details){
    <div class="details-wrapper">
        <app-product-detail [currentProduct]="details" (close)="details = undefined"></app-product-detail>
    </div>
    }



    @if (warn) {
    <div class="warn">
        <app-message-box [data]="warn" (acept)="onDecide($event.valueOf())"></app-message-box>
    </div>
    }

    <header class="prod-header">
        <h1>Productos</h1>
        <div class="prod-actions">
            <button class="button-chips">
                <img src="upload-cloud.svg" alt="">
                <label>
                    Importar
                </label>
            </button>
            <button class="button-base" (click)="router.navigate(['dashboard/create-product'])">
                <img src="plus.svg" alt="">
                <label>
                    Agregar Producto
                </label>
            </button>

        </div>
    </header>

    <div class="filters">
        @for (cat of CategoryFilter; track $index) {
        <div class="button-chips">
            <label>
                {{cat}}
            </label>
            <img src="x.svg" alt="" (click)="onDeleteFilter($index)">
        </div>
        }

        <div class="filters-dorp-menu">
            <button class="button-chips" (click)="filterMenu = !filterMenu">
                <img src="Filters lines.svg" alt="">
                <label>Filtros</label>
            </button>

            @if(filterMenu){
            <div class="dropdown-content">
                @for (filter of CatParser; track $index) {
                <div class="dropdown-item" (click)="onAddFilter(filter)">
                    <p>{{filter}}</p>
                </div>
                }
            </div>
            }
        </div>

        <div class="spacing" style="flex: 1;"></div>
        <div class="input-base">
            <img src="search.svg" alt="" (click)="onSearch()">
            <input type="text" #searchProd placeholder="Buscar" (keydown.enter)="onSearch()" />
        </div>

    </div>

    <div class="prod-container">
        <header class="product-list-header">
            <h2>Mis productos</h2>
            <div class="count">
                <p>{{count}} productos</p>
            </div>
        </header>

        <div class="head-bar">
            @for (item of ['Nombre', 'Categoría', 'Precio', 'Stock', 'Tipología', 'Estado', '']; track $index) {
            <div [className]="`column ${item === '' ? 'action' : item.toLowerCase()}`">
                <div [className]="`head-bar-item ${item === '' ? 'action' : item.toLowerCase()}`">
                    <p>{{item}}</p>
                </div>
                @for (prod of products; track $index) {
                <div [className]="`product-item ${item === '' ? 'action' : item.toLowerCase()}`"
                    (click)="details = prod">
                    @if (item === 'Nombre') {
                    <p>{{prod.name}}</p>
                    }
                    @if (item === 'Categoría') {
                    <div class="category">
                        <p>{{prod.category.nombre}}</p>
                    </div>
                    }
                    @if (item === 'Precio') {
                    <p>{{prod.variants.length==0? "": prod.variants[0].price | currency:'USD': 'symbol':'1.2-2'}}</p>
                    }
                    @if (item === 'Stock') {
                    <p>{{getStock(prod)}}</p>
                    }
                    @if( item === 'Tipología') {
                    <p>{{prod.typology}}</p>
                    }
                    @if (item === 'Estado') {
                    <div class="status">
                        <img [src]="'Activo'==='Activo' ? './_Dot_green.svg' : './_Dot_red.svg'" alt="">
                        <p>{{'active' === 'active' ? 'Activo' : 'Inactivo'}}</p>
                    </div>
                    }
                    @if(item === '') {
                    <div class="actions" (click)="$event.stopImmediatePropagation()">
                        <button class="action-button" (click)="ask(prod)">
                            <img src="trash-2.svg" alt="">
                        </button>
                        <button class="action-button" (click)="edit(prod.id)">
                            <img src="edit-2.svg" alt="">
                        </button>
                    </div>
                    }
                </div>
                }


            </div>
            }
        </div>

        <div class="pagination">
            <button class="button-chips" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1 ">
                <img src="arrow-left.svg" alt="">
                <label>Anterior</label>
            </button>

            <div class="pages">
                @for (page of pagesArray; track $index) {
                @if (page === pages && currentPage-pages > 2 ) {
                <div class="page">
                    <label>...</label>
                </div>
                }
                <div class="page" [ngClass]="{'active': currentPage == page}" (click)="onPageChange(page)">
                    <label>{{page}}</label>
                </div>
                @if(currentPage > 3 && page+2 == currentPage){
                <div class="page">
                    <label>...</label>
                </div>
                }
                }
            </div>

            <button class="button-chips" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === pages">
                <label>Siguiente</label>
                <img src="arrow-right.svg" alt="">
            </button>

        </div>

    </div>

</div>